<html>
  <head>
    <link href="<%= url('/levels.css') %>?v=1" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <header>
        <h1 id="title">Levels</h1>
    </header>
    <div class="niveles">
    <% @levels_cat.each do |l| %>
      <div class="nivel">
          <!--  gsub(/\s+/, "") es para eliminar espacios-->
          <% unless(@levels_ids.include?(l.id)) %>
            <a href="<%= url(@cat_lvl.name.downcase + '/levels/' + l.id.to_s + '/questions') %>">
          <% end %>
          <h3><%= l.name %></h3>
          <% if(@levels_ids.include?(l.id)) %>
            <h4>Nivel Completado</h4>
          <% end %>
          </a> 
      </div>
    <% end %>
       <div class="examen">
          <a href="<%= url(@cat_lvl.name.downcase + '/levels/exam/' + @exam.id.to_s + '/questions') %>">
            <h3>Examen de <%= @cat_lvl.name %></h3>
          </a>
      </div>
  </div>
  </body>
</html>
