    <%
      arte = "https://github.com/ignacioDias/AYDS-PROJECT-2023/blob/main/_6ad449e2-5802-4937-8aa9-5f9002e02d04-removebg-preview.png?raw=true"
      comida = "https://github.com/ignacioDias/AYDS-PROJECT-2023/blob/main/_05db326e-e6a2-440c-bbb6-948c1e64d94e-removebg-preview.png?raw=true"
      geografia = "https://github.com/ignacioDias/AYDS-PROJECT-2023/blob/main/_97685a33-a630-44ac-888b-7b11b3fbfa01-removebg-preview.png?raw=true"
      historia = "https://raw.githubusercontent.com/ignacioDias/AYDS-PROJECT-2023/main/_9239291e-27a3-4285-8479-820d4d7baa79-removebg-preview.png"
      deporte = "https://github.com/ignacioDias/AYDS-PROJECT-2023/blob/main/_23a0c361-59ae-4996-bae2-0cd8232fa5cc-removebg-preview.png?raw=true"
      linksImages = [arte, comida, geografia, historia, deporte]
    %>
<html>
  <head>
    <link href="<%= url('/lobby.css') %>?v=1" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <header>
        <h1 id="title">Categorias</h1>
    </header>
    <div class="navbar">
      <ul>
        <li class="nav-link">
          <a href="<%= url('ranking') %>">Ranking</a>
        </li>
        <li class="nav-link">
          <a href="<%= url('profile') %>">Perfil</a>
        </li>
        <li class="nav-link">
          <form action="<%= url('logout') %>" method="post">
            <button type="submit">Log Off</button>
          </form>
        </li>
      </ul>
    </div>
    <div class="categorias">
    <% @category.each_with_index do |c, count| %>
      <div class="categoria">
        <a href="<%= url(c.name.downcase + '/levels') %>">
          <h3><%= c.name %></h3>
          <div class="descripcion">
            <p><%= c.description %></p>
          </div>
          <div class="image">
            <img src=<%= linksImages[count] %> />
          </div>
      </div>
    <% end %>
  </div>
  </body>
  <script>
    document.querySelector('form').addEventListener('submit', function() {
      window.location.replace('<%= url('inicio') %>');
    });
  </script>
</html>
