<html>
  <head>
    <link href="<%= url('/question.css') %>?v=1" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <!-- question.erb -->
    <div class="tittle-question">
      <h2><%= question.question %></h2>
    </div>
    <form action="<%= url(@@catName.downcase.to_s + '/' + @@lvl.name.downcase + '/questions') %>" method="post">
      <div class="options">
        <% options.each_with_index do |option, count| %>
          <div class="option">
            <input type="radio" name="userAnswer" id="option_<%= count %>" value="<%= option %>">
            <label for="option_<%= count %>"><%= option %></label>
          </div>
        <% end %>
      </div>
      <div class= "container-submit">
        <input type="submit" value="Responder" class="submit">
      </div>
    </form>
  </body>
</html>
